[mysql]
username  = root
password  = toot
host      = 127.0.0.1
port      = 3306

databaseName            = my_database
tableName               = my_table
linesPerSqlOperation    = 10
headersAtLineNumber     = 0
